html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100% !important;
    margin: auto;
    padding: auto;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}
/* header */

.top_header {
    display: flex;
    background-color: seagreen;
    text-align: center;
    margin: auto;
    padding: 10px 0;
}

.top_header h4 {
    width: 100%;
    font-size: 14px;
    color: rgb(236, 235, 235);
}

.top_header a {
    color: rgb(236, 235, 235);
    margin-right: 30px;
}

.top_header a:hover {
    color: rgb(105, 155, 206);
}
/*menu*/ 
.bottom_header{
    display: flex;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
    width: 25%;
    padding: 20px 0;
    margin-left: 60px;
    
}
 .menu_container {
    float: right;
    padding-right: 80px;
    padding-top: 20px;
    
}
.img img{
    max-width: 100%;
    width: 100%;
}

.col-flex-md-3 img{
    width: 300px;
    height: 300px;
}


 



/**content*/
.content {
    background-color: white;
    position: relative;
    width: 100%;
}
/**content1**/

.content1_tittle{
    padding-top: 
    15px;
    text-align: center;
}
.w3-third img{
    width: 
    150px;


    height: 
    110px;
}

.w3-row-padding{
    text-align: center;
   
}

.w3_third{
    padding: 10px 50px;
}

.w3-third p{
    padding-left: 15;
    padding-right: 15;
}


.conten1{
    border-bottom
    : 4px outset red ;
}


/**content2**/
.content2_title{
    text-align: 
    
    center
    ;
}

.content2{
    display: flex;
}

.logo_content2{
    display: flex;
}
.logo_content2 img{
    height: auto;

    width: 150px;
    margin: 0 50px;
}


/**content3**/


.img_content {
    float: left;
    border-bottom: 4px outset rgba(255, 255, 255, 0.274);
    padding-bottom: 30px;
    display: flex;
}

.img_content img {
    max-width: 100%;
    width: auto;
    height: 100px;
}

.img_content .col-flex-box {
    margin: 0 30px;
}

.content_bottom_tittle {
    text-align: center;
}



.content_bottom_tittle h5 {
    font-size: 15px;
    font-weight: 400;
}

.object_logo .col-flex-box {
    margin: auto;
}

.object_logo img {
    max-width: 100%;
    width: 150px;
}



    


.col-flex-md-10.col-sm-2 {
    display:flex;
}

.content {
    width: 100%;
}

.ct5_container {
    display: flex;
}

.ct5_container h5 {
    font-size: 22px;
    color: green;
    display: flex;
}

.email_text {
    margin: auto;
}

.content5 {
    display: flex;
}

.content4 {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.content4 .question {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 30px;
}

.content4 .question h4 {
    color: grey;
}

.content4 .question a {
    color: grey;
}

.content-gth {
    width: 100%;
}

.content-hien button {
    width: 80%;
    border-radius: 20px;
    padding: 13px;
    padding-bottom: 10px;
}

.content-hien button h4 {
    float: left;
}

.content-hien button h3 {
    float: right;
}

.text p {
    float: left;
    color: grey;
    margin: auto;
    font-size: 15px;
}

.text {
    width: 77%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

/*************footer*******/

.footer{ 
    text-align: left;
    width: 100%;
    background-color: rgb(209,224,214);
}

.footer-item  a{
    color: black;
    padding-left: 40px;
}


.row h3{
    padding-top: 30px;
    padding-left: 70px;
    font-size: 20px;
}
.row p{
    padding-left: 
    40px;
}

.row h2{
    padding-top: 
    10px;
    padding-left: 38px;
    font-size: 20px;
}
.logo1 img{

   
    
    height: 50px;
    max-width: 100%;

    margin: auto;
    


}
.logo1{
text-align: center;
margin: 0 auto !important;
}


/* slick */
.slick-arrow{
    display: none !important;
}
.slick-dots{
    display: none !important;
}